
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('Roboto-Bold.ttf');
}


.menu{
    -fx-font-family: "Roboto-Bold";
    -fx-background-color: #8C2D19;
    -fx-padding: 0.0em;
    -fx-pref-width: 260;
}

.menu-app-name-pane{
    -fx-background-color: #6E0F02;
    -fx-pref-width: 260;
}
.menu-app-name{
    -fx-font-size: 50;
    -fx-text-fill: white;
}

.menu-app-button{
    -fx-font-size: 25;
    -fx-text-fill: white;
    -fx-background-color: #8C2D19;
    -fx-alignment: baseline-left;
    -fx-padding: 10.0 0.0 10.0 45.0;
    -fx-border-width: 0.0 0.0 0.0 10.0;
    -fx-border-color: #8C2D19;
    -fx-pref-width: 260;
}

.menu-app-button:hover{
    -fx-background-color: #6E0F02;
    -fx-border-color: #6E0F02;
}

.menu-app-button:focused{
    -fx-background-color: #6E0F02;
    -fx-border-color: white;
}

.page-title{
    -fx-font-family: "Roboto-Bold";
    -fx-text-fill: black;
    -fx-font-size: 50;
    -fx-padding: 0.0 0.0 0.0 45.0;

}
.text{
    -fx-font-family: "Roboto";
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

